################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JSPA-Template/bin
/JSPA-Template/obj
/Packages
