
<h1>Please login</h1>
<div class="form-horizontal">
    <div class="form-group">
        <span class="col-sm-4 control-label">Username / Email</span>
        <div class="col-sm-8"><input id="401-user" class="form-control" type="text" value="berty.biscuit@bertybiscuits.co.uk" /></div>
    </div>
    <div class="form-group">
        <span class="col-sm-4 control-label">Password</span>
        <div class="col-sm-8"><input id="401-password" class="form-control" type="password" value="Sausages" /></div>
    </div>
    <div class="form-group">
        <span class="col-sm-4"></span>
        <div class="col-sm-8">
            <button class="btn btn-primary" data-bind-click="login" role="button" type="button">Login</button>
            <a class="pull-right" href="#error/404">Forgotten your password?</a>
        </div>
    </div>
</div>
<h1>
    Don't have a MEICA / SCADA Account yet?
    <a href="#user-register">
        <span class="btn btn-info btn-inline" role="button">Sign up</span>
    </a>
</h1>