<div class="max-width-xl">

    <h1 id="jspa">JSPA</h1>
    <p class="comments-section">
        JSAP is a Single page web application built on TypeScript and JQuery.
        The aim was build a very lightweight SPA framework.
    </p>
    <h2 id="where-are-the-docs">Where are the docs?</h2>
    <p class="comments-section">
        The most recent version of these docs can be found here:
        <a href="https://johnrayson.gitbooks.io/jspa/content/" target="_blank">https://johnrayson.gitbooks.io/jspa/content/</a>
    </p>
    <h2 id="where-is-the-code">Where is the code?</h2>
    <p class="comments-section">
        The most recent version of this code can be found here - normally it will be a straight copy of the code running on this website:
        <a href="https://github.com/JohnRayson/JSPA" target="_blank">https://github.com/JohnRayson/JSPA</a>
    </p>
    <h2 id="how-do-i-pronouce-jspa">How do I pronouce JSPA?</h2>
    <p class="comments-section">
        All frameworks need a name that roles off the tounge.
        Lets go with <strong>Jaspa</strong> shall we....
    </p>
    <h2 id="whats-it-for">What's it for?</h2>
    <p class="comments-section">
        JSPA aims to combine a HTML templating system in the vein of mustache, with a SPA routing system using service workers and indexDB to allow for offline applications.
        <h2 id="what-can-it-do">What can it do?</h2>
        <ul>
            <li>On way data binding... this is intentional, data is bound to the HTML template at render, other interactions do not occur automatically.</li>
            <li>Click Event binding.. at render events can easily be bound to any element</li>
            <li>Style binding.. at render styles can be applied to elements based on data properties and custom logic</li>
            <li>Property binding... at render any property of an html element can be bound to logic</li>
            <li>Pass data through custom pipes as its bound to templates to allow the data to be formatted</li>
            <li>Pass URL parameters to application logic via the routing system</li>
            <li>Store data in client side indexDB's</li>
            <li>Cache all resources on the client via serviceworkers</li>
            <li>Anything you can do with JQuery, and the thousands of plugins available for it</li>
        </ul>

        <hr />

        <h3><a href="https://johnrayson.gitbooks.io/jspa/" target="_blank">Gitbook - Documentation</a></h3>
        <h3>Sooner or later you are going to need this <a href="https://marketplace.visualstudio.com/items?itemName=MadsKristensen.WebCompiler">VS Plugin</a></h3>
</div>