<nav class="navbar fixed-bottom navbar-expand-md navbar-dark bg-dark">
    <div class="flex-column flex-grow">
        <div class="max-width-xl">
            <div class="flex-row">                
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    </ul>
                    <a class="navbar-brand" href="">Powered By<br />JSPA</a>
                </div>
            </div>
        </div>
    </div>
</nav>
